<div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">

        <form [formGroup]="form" fxFlex="30%" fxFlex.sm="50%" fxFlex.xs="90%">
            <mat-card>
                <mat-card-title>Cooper</mat-card-title>
                <mat-card-subtitle>Enter distance you can run in 12 minutes in meters </mat-card-subtitle>

                <mat-form-field class="full-width">
                    <input id="distanceInput" matInput placeholder="Distance" formControlName="distance" type = "number">
                </mat-form-field>

                <mat-card-actions class="login-actions">
                    <button id="submit" mat-raised-button color="primary" [disabled]="form.invalid || loading"
                        (click)="enterData()">Enter data</button>
                </mat-card-actions>

                <mat-card-content>
                    <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
                </mat-card-content>
            </mat-card>
        </form>   
     </div>
  </div>
